    name: GitHub Classroom Workflow

    on: [push]

    jobs:
      build:
        name: Autograding
        runs-on: windows-latest
        steps:
          - uses: actions/checkout@v2
          - name: Generate Project Structure
            shell: powershell
            run: mkdir ./build/CI/libs
          - name: Generate Project
            shell: powershell
            run: cmake -S ./ -B ./build
          - name: Build ALL
            shell: powershell
            run: cmake --build ./build